{
  "bracketSameLine": false,
  "doubleQuote": true,
  "editor.formatOnSave": true,
  "editor.tabSize" : 4,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "auto",
  "jsxBracketSameLine": true,
  "printWidth": 80,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "useTabs": true
}