@import '../../../styles/colors.scss';

.container {
    background-size: cover;
    height: 64vh;
	padding: 2rem;
    position: relative;

	:global {
        .ant-btn {
            border: none;
        }
        .ant-btn.ant-btn-primary {
            color: #000;
        }

		.ant-typography.movieCoverTitle {
			margin-bottom: auto;
            color: #fff;
		}
	}

    .addToWatchlistButton {
        background-color: transparent;
        color: #fff;
        flex: 1 1 0;
    }

    .playButton {
        background-color: $primary-color;
        flex: 1 1 0;
    }

    .movieCoverTitle {
        margin-bottom: auto;
        color: #fff;
    }

    .watchWithFriendsButton {
        background-color: #fff;
        flex: 1 1 0;
    }
}

.movieCoverActions {
    bottom: 0;
    margin: 2rem auto;
    position: absolute;

    :global {
        .ant-col {
            display: flex;
            flex-wrap: wrap-reverse;
            gap: 0.8rem;
        }
    }
}

.movieCoverDescription {
    text-align: justify;
}

.movieCoverTagline {
    font-size: smaller;
    color: #fff;
}

.movieCoverTitle {
	color: '#fff';
	text-transform: capitalize;
    color: #fff;
}

.movieCoverInfo {
    font-size: smaller;
    margin: 2rem auto;
    text-transform: uppercase;
    :global {
        .ant-typography {
            color: #fff;
        }
    }
}

.mobileContainer {
    height: 32vh;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    .movieCoverActions {
        justify-content: center;
        margin: 0.8rem auto;
        position: inherit;
    }

    .movieCoverInfo {
        margin: 1.2rem auto;
    }

    .movieCoverTitle {
        margin-bottom: auto;
    }
}
