#components-layout-demo-side .logo{
    height: 2rem;
    margin: 1rem;
    background: black;
   
  }
  
  .site-layout .site-layout-background {
    background: black;
    color: black;
    width: 100%;
    margin-left: 1.2rem;
  }

  .imageStyle{
    border-radius: 1rem;
  }