@import '../../../styles/colors.scss';

.form {
	:global {
		.ant-btn-primary {
			border-color: black;

			&:hover,
			&:focus {
				border-color: black;
			}
		}

		.ant-form-item {
			margin-bottom: 0.4rem;
			width: 100%;
		}

		.ant-input-affix-wrapper {
			background: $input-bg-color;
		}
	}
}

.buttonPrimary {
	background: $primary-color;
	border-radius: 0.4rem;
}

.cancelActions {
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	height: 100vh;
}

.mobileContainer {
	align-items: normal;
	margin: 0 1.2rem;
}

.infoCol {
	display: flex;
	flex-direction: column;
	justify-content: center;

	:global {
		h3.ant-typography {
			margin-top: inherit;
			text-transform: capitalize;
		}
	}
}

.infoContainer {
	height: 100%;
	padding-left: 1.6rem;

	:global {
		.ant-row {
			align-items: center;
			height: inherit;
		}
	}
}

.infoContainerMobile {
	height: auto;
}

.infoContainer::before, .infoContainerMobile::before {
	bottom: 0;
	background-image: url('https://res.cloudinary.com/tusharwalzade216/image/upload/v1669043796/movies/fifth.jpg');
	background-size: cover;
	content: '';
	left: 0;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
}

.movieCoverTagline {
	font-size: smaller;
}

.partyActions {
	flex-wrap: inherit;
	gap: 0.4rem;
	justify-content: space-evenly;

	.buttonPrimary {
		flex: 1 1 0;
	}
}

.sidebar {
	display: flex;
	background-color: #212c2c;
	align-items: center;
	height: 100%;
}

.sidebarContent {
	margin: 0.8rem;
	
	.otp {
		margin: 1.2em;
		text-align: center;
	}
}
