@import '../../../styles/colors.scss';

.main {
	width: 100%;
	display: flex;
	flex-direction: row;
    height: 100%;
}

.rightchild {
	background-color: #212c2c;
}

.content {
	display: flex;
	flex-direction: row;
	margin-top: -52rem;
}

.party {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	color: lightgray;
}
.name {
	font-size: 1.8rem;
	color: white;
	font-weight: 500;
}
h1 {
	margin-top: 5.2rem;
	font-weight: 500;
}

h6 {
	margin-top: 16rem;
	margin-bottom: -9.5em;
}

.code {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 12rem;
    margin-left: auto;
    margin-right:auto;
}

.imgfix{
    border-radius: 1rem;
    

}

.playmode{
    display: flex;
    flex-direction: row;
    justify-content: center;
	margin-top: 1rem;
 
}
