@import '../../../styles/colors.scss';



.movieListTitle {
	color: $primary-color;
	margin: auto 1.2rem;
}

.titleRow {
    margin-left: 1.2rem;
	margin-top: 25rem;
}
.title2Row {
    margin-left: 1.2rem;
}
.detail{
    display: flex;
    flex-direction: row;
}
.castRow{
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;

}
