@import '../../../styles/colors.scss';

.xpCarousel {
	margin: auto 1.6rem;
}

.xpContent {
	padding: 1.2rem 0;
}

.contentStyle {
	background: #364d79;
	color: #fff;
	height: 160px;
	line-height: 160px;
	margin: 0.8rem;
	text-align: center;
}

.movieListTitle {
	color: $primary-color;
	margin: auto 1.2rem;
	text-transform: capitalize;
}

.titleRow {
	margin-top: 1.2rem;
}
