@import '../../../../styles/colors.scss';

.form {
	:global {
		.ant-btn-primary {
			border-color: black;
            
			&:hover,
			&:focus {
				border-color: black;
			}
		}

		.ant-form-item {
			width: 100%;
		}

		.ant-input-affix-wrapper {
			background: $input-bg-color;
		}
	}
}

.publicBg {
	background-image: url('../../../../../public/assets/images/login_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: inherit;
}
