@import '../../../styles/colors.scss';

.logo {
	cursor: pointer;
	margin-top: 0.8rem;
}

.logoContainer {
	display: flex;
    justify-content: center;
	margin: 0.2rem;
}

.menu {
	margin-top: 2rem;
	padding-bottom: 4rem;
}

.mobileLogoContainer {
	display: flex;
    justify-content: center;
	margin-top: 3.2rem;
}

.sidebar {
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 12rem;

	:global {
		.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
			background-color: $primary-color;
		}

		.ant-menu-item {
			color: #fff;
		}

		.ant-menu-item:hover {
			color: $primary-color;
		}
	}
}

.sider {
	height: 100%;
	position: fixed;
	z-index: 2;

	:global {
		.ant-layout-sider-zero-width-trigger {
			font-size: x-large;
			left: 1.2rem;
			right: auto;
			top: 0.8rem;
		}
		.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
			background-color: $primary-color;
		}
	}
}
